.header {
    width: calc(100vw - 220px); 
    max-width: 100vw; 
    transition: all 0.3s ease-in-out; 
  }
  
  .header-default {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px; 
  }
  
  .header-scrolled {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: white;
    width: calc(100vw - 220px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: -10px;

  }
  
  .search-bar {
    transition: border-color 0.2s ease-in-out; /* Transição suave para a mudança de cor da borda */
  }
  
  .search-bar:focus-within {
    border-color: #3B82F6; /* Equivalente a border-blue-500 */
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3); /* Opcional: sombra azul para destacar o foco */
  }