@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


.modal-container {
  display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 295px;
      transform: translate(-50%, -50%);
      width: 645px;
      height: 573px;
      margin-left: -291px;
}

/* Estilo do Input do Preline UI */
.hs-input {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: -0.01em;
  padding: 8px 12px;
}

/* Estiliza os nomes dos veículos */
.veiculo-label {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #6B7280;
}

.category-title {
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -1%;
  color: #6B7280;

}


.category-item {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #1F2937; /* Cor padrão */
  transition: color 0.3s ease-in-out;
}

.category-item:hover {
  color: #2563EB; /* Cor ao passar o mouse */
}

.category-item.active {
  color: #2563EB; /* Cor quando ativo */
}


/* Estilo da barra de rolagem */
.veiculos-container {
  max-height: 250px;
  overflow-y: auto;
  padding-right: 5px;
}

/* Custom Scroll */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cfd4dc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b6bcc5;
}
@media (max-width: 768px) {
  .mobile-modal-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 80vh;
    background: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
    padding: 16px;
  }
  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .animate-slide-up {
    animation: slideUp 0.3s ease-out forwards;
  }
}
