<div *ngIf="!isMobile" class="modal-container">
  <!-- Cabeçalho -->
  <div class="modal-header">
    <i class="icon-search"></i>
    <input type="text" placeholder="Procurar veículos" class="search-input" />
    <button class="esc-button">ESC</button>
  </div>

  <!-- Conteúdo principal -->
  <div class="modal-body">
    <!-- Menu de Categorias -->
    <!-- Lista de Veículos -->
    <div class="entity-list">
      <div class="category-section">
        <span class="section-title">Estados</span>
        <div class="grid-container">
          <div class="grid-item">
            <label><input type="checkbox" /> Acre (AC)</label>
        <label><input type="checkbox" /> Alagoas (AL)</label>
        <label><input type="checkbox" /> Amapá (AP)</label>
        <label><input type="checkbox" /> Amazonas (AM)</label>
        <label><input type="checkbox" /> Bahia (BA)</label>
        <label><input type="checkbox" /> Ceará (CE)</label>
        <label><input type="checkbox" /> Distrito Federal (DF)</label>
        <label><input type="checkbox" /> Espírito Santo (ES)</label>
        <label><input type="checkbox" /> Goiás (GO)</label>
        <label><input type="checkbox" /> Minas Gerais (MG)</label>
        <label><input type="checkbox" /> Maranhão (MA)</label>
        <label><input type="checkbox" /> Mato Grosso (MT)</label>
        <label><input type="checkbox" /> Mato Grosso do Sul (MS)</label>
        <label><input type="checkbox" /> Rio de Janeiro (RJ)</label>
        <label><input type="checkbox" /> Piauí (PI)</label>
        <label><input type="checkbox" /> Pernambuco (PE)</label>
        <label><input type="checkbox" /> São Paulo (SP)</label>
        <label><input type="checkbox" /> Paraíba (PB)</label>
        <label><input type="checkbox" /> Rio Grande do Norte (RN)</label>
        <label><input type="checkbox" /> Rio Grande do Sul (RS)</label>
        <label><input type="checkbox" /> Rondônia (RO)</label>
        <label><input type="checkbox" /> Roraima (RR)</label>
        <label><input type="checkbox" /> Santa Catarina (SC)</label>
        <label><input type="checkbox" /> Paraná (PR)</label>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Rodapé -->
  <div class="modal-footer">
    <button class="action-button">Utilizar veículos selecionados</button>
  </div>
</div>


<!-- MODAL MOBILE -->
<div *ngIf="isMobile" class="mobile-modal-container">
  <!-- Cabeçalho -->


  <!-- Barra de busca -->
  <div class="mobile-search">
    <i class="icon-search"></i>
    <input type="text" placeholder="Procurar veículos" class="mobile-search-input" />
  </div>

  <!-- Lista de Veículos -->
  <div class="mobile-entity-list">
    <div class="mobile-category-section">
      <span class="section-title">Estados</span>
      <div class="mobile-grid-container">
        <label><input type="checkbox" /> Acre (AC)</label>
        <label><input type="checkbox" /> Alagoas (AL)</label>
        <label><input type="checkbox" /> Amapá (AP)</label>
        <label><input type="checkbox" /> Amazonas (AM)</label>
        <label><input type="checkbox" /> Bahia (BA)</label>
        <label><input type="checkbox" /> Ceará (CE)</label>
        <label><input type="checkbox" /> Distrito Federal (DF)</label>
        <label><input type="checkbox" /> Espírito Santo (ES)</label>
        <label><input type="checkbox" /> Goiás (GO)</label>
        <label><input type="checkbox" /> Minas Gerais (MG)</label>
        <label><input type="checkbox" /> Maranhão (MA)</label>
        <label><input type="checkbox" /> Mato Grosso (MT)</label>
        <label><input type="checkbox" /> Mato Grosso do Sul (MS)</label>
        <label><input type="checkbox" /> Rio de Janeiro (RJ)</label>
        <label><input type="checkbox" /> Piauí (PI)</label>
        <label><input type="checkbox" /> Pernambuco (PE)</label>
        <label><input type="checkbox" /> São Paulo (SP)</label>
        <label><input type="checkbox" /> Paraíba (PB)</label>
        <label><input type="checkbox" /> Rio Grande do Norte (RN)</label>
        <label><input type="checkbox" /> Rio Grande do Sul (RS)</label>
        <label><input type="checkbox" /> Rondônia (RO)</label>
        <label><input type="checkbox" /> Roraima (RR)</label>
        <label><input type="checkbox" /> Santa Catarina (SC)</label>
        <label><input type="checkbox" /> Paraná (PR)</label>
        
      </div>
    </div>


  <!-- Rodapé -->
  <div class="mobile-modal-footer">
    <button class="mobile-action-button">Confirmar Seleção</button>
  </div>
</div>