<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-40 z-[1100]">
  <div class="relative flex flex-col items-center p-10 gap-6 isolate w-[400px] h-[370px] bg-white shadow-md rounded-2xl">
    <div class="absolute w-9 h-9 right-2.5 top-2.5 flex justify-center items-center rounded-lg cursor-pointer hover:bg-gray-100" (click)="cancel.emit()">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 4L4 12" stroke="#1F2937" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M4 4L12 12" stroke="#1F2937" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>

    <div class="flex flex-col justify-center items-center gap-6 w-[320px] h-[166px] flex-none order-0 self-stretch flex-grow-0 z-0">
      <h2 class="w-[320px] h-[22px] font-inter font-semibold text-lg leading-tight text-center tracking-tight text-gray-900 flex-none order-0 self-stretch flex-grow-0">
        {{ title }}
      </h2>

      <div class="flex flex-col items-center gap-2 w-[320px] h-[76px] flex-none order-1 self-stretch flex-grow-0">
        <p class="w-[328px] h-[auto] font-inter font-medium text-sm leading-5 text-center tracking-tight text-gray-600 flex-none order-0 flex-grow-0">
          Você já pode cadastrar demais informações sobre o cliente: <span class="font-semibold">{{ clientName }}</span>, deseja continuar?
        </p>
      </div>
    </div>

    <div class="flex flex-col items-center gap-2 w-[320px] h-[100px] flex-none order-1 self-stretch flex-grow-0 z-10">
      <button
        (click)="continueRegistration.emit()"
        class="flex justify-center items-center px-4 py-3.5 gap-2.5 w-[320px] h-[46px] rounded-lg flex-none order-0 self-stretch flex-grow-0
               font-inter font-semibold text-base leading-tight text-center tracking-tight text-[#1E40AF] bg-[#DBEAFE] "
      >
        {{ continueButtonText }}
      </button>

      <button
        (click)="registerLater.emit()"
        class="flex justify-center items-center px-4 py-3.5 gap-2.5 w-[320px] h-[46px] rounded-lg flex-none order-1 self-stretch flex-grow-0
               font-inter font-semibold text-base leading-tight text-center tracking-tight text-gray-900 hover:bg-gray-100 transition"
      >
        {{ registerLaterButtonText }}
      </button>
    </div>
  </div>
</div>