<div class="w-full min-h-screen flex flex-col items-center bg-gray-50">
  <!-- Sobreposição para o fundo borrado e cinza -->
  <div *ngIf="isAdvancedSearchOpen" class="fixed inset-0 bg-black bg-opacity-40 backdrop-blur-sm z-10"></div>

  <!-- Versão Mobile -->
  <div *ngIf="isMobile" class="absolute top-0 left-0 w-full p-4 bg-white">
    <div class="w-full flex justify-center">
      <div class="w-[328px] h-[46px] flex items-center bg-white border border-gray-300 rounded-[8px] px-4 shadow-sm 
                  focus-within:border-blue-500 focus-within:ring-2 focus-within:ring-blue-500">
        <input type="text" 
          class="w-full text-gray-900 text-[16px] font-normal bg-transparent focus:outline-none" 
          placeholder="O que você deseja buscar?" 
          [(ngModel)]="searchQuery"
          (keyup.enter)="onSearch()">
      </div>
    </div>

    <div class="w-full flex justify-center mt-2">
      <span class="flex items-center justify-center py-3 px-4 text-sm font-medium text-blue-500 cursor-pointer" 
            (click)="toggleAdvancedSearch()">
        Fazer busca avançada
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ml-1">
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </span>
    </div>
  </div>

  <!-- Modal de Busca Avançada (Mobile) -->
  <div *ngIf="isMobile && isAdvancedSearchOpen" class="fixed inset-0 flex justify-center items-end transition-all duration-300 z-20">
    <div class="bg-white w-full h-full max-h-screen rounded-t-[16px] p-4 shadow-lg transform transition-transform duration-300 ease-in-out"
         [class.translate-y-full]="!isAdvancedSearchOpen" 
         [class.translate-y-0]="isAdvancedSearchOpen">
      <app-high-search [isVisible]="isAdvancedSearchOpen" (close)="closeHighSearch()"></app-high-search>
    </div>
  </div>

  <!-- Versão Desktop -->
  <div *ngIf="!isMobile" class="flex flex-col items-center justify-center w-full h-screen bg-gray-50">
    <div class="flex justify-center mb-6">
      <img src="assets/logo2.png" alt="Logo" class="h-14">
    </div>
    <div class="flex justify-center gap-2 mb-4">
      <!-- Botão Busca Simples -->
      <button 
        (click)="selecionarModo('simples')" 
        class="px-4 py-2 text-sm font-medium rounded-lg shadow-sm transition-all"
        [ngClass]="{
          'bg-gray-300 text-gray-700 hover:bg-gray-300': modoSelecionado === 'simples',
          'bg-transparent text-gray-700 hover:bg-gray-100': modoSelecionado !== 'simples'
        }">
        Busca simples
      </button>
    
      <!-- Botão Busca Avançada -->
      <button 
        (click)="selecionarModo('avancada'); toggleAdvancedSearch()"
        class="px-4 py-2 text-sm font-medium rounded-lg transition-all"
        [ngClass]="{
          'bg-gray-300 text-gray-700 hover:bg-gray-300': modoSelecionado === 'avancada',
          'bg-transparent text-gray-700 hover:bg-gray-100': modoSelecionado !== 'avancada'
        }">
        Busca avançada
      </button>
    </div>
    
    <div class="flex items-center gap-2">
      <div class="flex items-center w-[480px] h-[56px] rounded-[8px] px-4  
                  focus-within:border-blue-500 focus-within:ring-2 focus-within:ring-blue-500">
        <svg class="w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.3-4.3"></path>
        </svg>
        <input type="text" 
          class="w-full px-4 py-2 text-gray-800 bg-transparent focus:outline-none" 
          placeholder="O que você deseja buscar?" [(ngModel)]="searchQuery">
      </div>

      <button class="w-[140px] h-[56px] text-white bg-gray-900 rounded-[8px] hover:bg-gray-700 transition-all"
        (click)="onSearch()">
        Buscar
      </button>
    </div>
  </div>

  <!-- Modal de Busca Avançada (Desktop) -->
  <div *ngIf="!isMobile && isAdvancedSearchOpen" class="fixed inset-y-0 right-0 w-[476px] bg-white shadow-lg border-l border-gray-300 transition-transform duration-300 ease-in-out z-20"
       [class.translate-x-full]="!isAdvancedSearchOpen"
       [class.translate-x-0]="isAdvancedSearchOpen">
    <div class="p-4 w-full h-full">
      <app-high-search [isVisible]="isAdvancedSearchOpen" (close)="closeHighSearch()"></app-high-search>
    </div>
  </div>
</div>