<!-- Versão Desktop -->
<div *ngIf="!isMobile">
  <div class="card">
    <div class="card-header">
      <div class="left-info">
        <input type="checkbox" class="checkbox-input" [checked]="isSelected || allSelected" (change)="onCheckboxChange($event)" />
        <img class="logo" [src]="noticias.logo" alt="Logo do Veículo" />
        <div class="veiculo">
          <div class="veiculo-tipo">
            <span class="vehicle-name">{{ noticias.veiculo }}</span>
            <span *ngIf="noticias.tipo" class="tipo-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#6B7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"></path>
                <path d="M14 2v4a2 2 0 0 0 2 2h4"></path>
                <path d="m10 11 5 3-5 3v-6Z"></path>
              </svg>
              <span class="content-type">{{ noticias.tipo }}</span>
            </span>
          </div>
          <span *ngIf="noticias.local" class="additional-info">{{ noticias.local }}</span>
          <span *ngIf="noticias.usuario" class="additional-info">{{ noticias.usuario }}</span>
        </div>
      </div>
      <div class="right-info">
        <span class="date">{{ noticias.data }}</span><br>
        <span class="sentimento">Sentimento:</span>
        <span class="sentiment">{{ noticias.sentimento }}</span>
      </div>
    </div>

    <p class="mention-title">{{ noticias.titulo }}</p>
    <p class="mention-description">{{ noticias.descricao }}</p>

    <div class="mention-footer">
      <span class="entities-label">Entidades extraídas:</span>
      <div class="entities">
        <span class="label" *ngFor="let entidade of noticias.entidades">{{ entidade }}</span>
      </div>
      <a href="#" (click)="openTagFilter($event)" class="view-all-labels">Ver todas</a>
      <div *ngIf="showTagFilter" class="modal-overlay">
        <app-tag-filter (closeTagFilter)="closeTagFilter()"></app-tag-filter>
      </div>
        </div>
    <hr />
  </div>
</div>



<!-- Versão Mobile -->
<div *ngIf="isMobile" class="card-mobile">
  <div class="mobile-header">
    <div class="left-info">
      <img class="mobile-logo" [src]="noticias.logo" alt="Logo do Veículo" />
      <div class="mobile-veiculo">
        <!-- Nome do Veículo e Tipo -->
        <div class="veiculo-tipo">
          <span class="vehicle-name">{{ noticias.veiculo }}</span>
          <span *ngIf="noticias.tipo" class="tipo-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#6B7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"></path>
              <path d="M14 2v4a2 2 0 0 0 2 2h4"></path>
              <path d="m10 11 5 3-5 3v-6Z"></path>
            </svg>
            <span class="content-type">{{ noticias.tipo }}</span>
          </span>
        </div>

        <!-- Local e Usuário -->
        <div class="additional-info-container">
          <span *ngIf="noticias.local" class="additional-info">{{ noticias.local }}</span>
          <span *ngIf="noticias.usuario" class="additional-info">{{ noticias.usuario }}</span>
        </div>
      </div>
    </div>

    <!-- Botão de Ações -->
    <div class="mobile-actions">
      <button id="menu-trigger" type="button" class="dropdown-toggle" (click)="toggleMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="12" cy="12" r="1"></circle>
          <circle cx="12" cy="5" r="1"></circle>
          <circle cx="12" cy="19" r="1"></circle>
        </svg>
      </button>

      <!-- Modal Dropdown Estilizado -->
      <div *ngIf="isMenuOpen && !isEntitiesModalOpen" class="custom-dropdown-menu">
        <a class="menu-item">Compartilhar</a>
        <a class="menu-item" (click)="openEntitiesModal()">Entidades extraídas</a>
        <hr class="divider" />
        <button class="menu-item close-menu" (click)="toggleMenu()">Fechar menu</button>
      </div>
    </div>
  </div>

  <!-- Sentimento e Data na Mesma Linha -->
  <div class="sentiment-date-container">
    <div class="sentiment-wrapper">
      <span class="sentimento">Sentimento:</span>
      <span class="sentiment">{{ noticias.sentimento }}</span>
    </div>
    <span class="date">{{ noticias.data }}</span>
  </div>
  

  <!-- Título e Descrição -->
  <p class="mobile-mention-title">{{ noticias.titulo }}</p>
  <p class="mobile-mention-description">{{ noticias.descricao }}</p>

  <div class="mobile-mention-footer"></div>
</div>

<!-- Modal para exibir o componente de entidades extraídas -->
<!-- Modal para exibir o componente de entidades extraídas -->
<div *ngIf="isEntitiesModalOpen" class="modal-overlay">
  <div class="modal-container">
    <div class="modal-header">
      <h3>Entidades Extraídas</h3>
      <button class="close-button" (click)="closeEntitiesModal()">✕</button>
    </div>

    <div class="modal-body">
      <!-- Somente exibe em dispositivos móveis -->
      <app-tag-filter *ngIf="isMobile" (closeModal)="closeEntitiesModal()"></app-tag-filter>
    </div>
  </div>
</div>



