<div class="card">
  <!-- Cabeçalho do Card -->
  <div class="card-header flex justify-between items-center mb-4">
    <!-- Informações à Esquerda -->
    <div class="flex items-center gap-4">
      <!-- Input Checkbox -->
      <input type="checkbox" class="checkbox-input" />

      <!-- Local para Logo -->
      <img
        class="w-10 h-10 rounded-full"
        src="{{ noticias.logo }}"
        alt="Logo do Veículo"
      />
      <div>
        <span class="vehicle-name font-medium text-gray-800">{{ noticias.veiculo }}</span>
        
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" 
        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
         class="lucide mr-0.5"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" key="1rqfz7">
         </path><path d="M14 2v4a2 2 0 0 0 2 2h4" key="tnqrlb"></path><path d="m10 11 5 3-5 3v-6Z" key="7ntvm4"></path></svg>
        <span class="content-type text-sm text-gray-500">{{ noticias.tipo }}</span>
      </div>
    </div>

    <!-- Informações à Direita -->
    <div class="right-info text-sm text-gray-500 flex items-center gap-4">
      <div>
        <span class="date">{{ noticias.data }}</span><br>
        <span class="sentiment">Sentimento: {{ noticias.sentimento }}</span>
      </div>
    </div>
  </div>

  <!-- Título da Menção -->
  <p class="mention-title font-semibold text-gray-900 text-lg mt-2">{{ noticias.titulo }}</p>

  <!-- Descrição da Menção -->
  <p class="mention-description text-gray-700 text-sm mt-2">{{ noticias.descricao }}</p>

  <!-- Rodapé do Card -->
  <div class="mention-footer mt-4">
    <span class="entities-label text-sm text-gray-600 font-medium">Entidades extraídas:</span>
    <div class="flex flex-wrap gap-2 mt-2">
      <span
        class="label px-2 py-1 bg-gray-200 rounded-full text-xs text-gray-800"
        *ngFor="let entidade of noticias.entidades"
      >
        {{ entidade }}
      </span>
    </div>
    <a href="#" class="view-all-labels text-blue-600 text-sm mt-2 block">Ver todas</a>
  </div>
  <hr>
</div>
