<div class="modal-overlay">
    <div class="modal-container">
      <!-- Cabeçalho do Modal -->
      <div class="modal-header">
        <div class="header-text">
          <p class="text-lg font-semibold text-black">Relatórios do Workspace</p>
          <p class="text-xs text-gray-500">Selecione os relatórios desejados para inserir a menção</p>
        </div>
        <span class="close-icon" (click)="fecharModal()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M18 6 6 18"></path>
            <path d="M6 6l12 12"></path>
          </svg>
        </span>
      </div>
  
      <!-- Campo de Busca e Criar Relatório -->
      <div class="search-container">
        <div class="search-box">
          <input type="text" placeholder="Pesquisar relatório" class="search-input">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </svg>
        </div>
        <span class="flex flex-nowrap items-center text-sm font-medium text-blue-600 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide text-blue-600 mr-1">
                <circle cx="12" cy="12" r="10" key="1mglay"></circle><path d="M8 12h8" key="1wcyev"></path><path d="M12 8v8" key="napkw2"></path></svg> Criar novo relatório </span>      </div>
  
      <!-- Tabela de Relatórios -->
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th><input type="checkbox"></th>
              <th>NOME</th>
              <th>CRIADO POR</th>
              <th>CRIADO EM</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let relatorio of getRelatoriosPaginados()">
              <td><input type="checkbox"></td>
              <td>{{ relatorio.nome }}</td>
              <td class="creator">
                <div class="avatar" [style.backgroundColor]="relatorio.cor">{{ relatorio.sigla }}</div>
                {{ relatorio.criadoPor }}
              </td>
              <td>{{ relatorio.criadoEm }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="flex flex-row justify-between items-center py-2 mt-4">
        <div class="py-1"><nav class="flex items-center justify-center text-xs text-gray-800">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide text-gray-500"><path d="m15 18-6-6 6-6" key="1wnfg3"></path></svg>
            <input value="1" class="flex text-center text-sm ml-1 w-8 p-1 rounded-md border border-gray-200 focus:outline-none"><p class="px-1 text-sm font-medium text-gray-500"> de </p><p class="px-1 text-sm font-medium text-gray-500"> 3 </p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide text-gray-500"><path d="m9 18 6-6-6-6" key="mthhwq"></path></svg>
        </nav></div><button class="flex items-center justify-center bg-gray-800 p-3 text-white text-sm font-semibold rounded-lg"> Inserir menção </button></div>
  </div>
  