.close-button-container {
    position: absolute;
    top: 16px;
left: -55px;    
  }
  
  .close-button {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #1F2937;
    transition: background-color 0.2s ease-in-out;
  }
  
  .close-button:hover {
    background-color: #E5E7EB;
  }
  
  .close-button:focus {
    outline: none;
    background-color: #D1D5DB;
  }
  