<!-- Botão de Voltar ao Topo -->
<button class="back-to-top" *ngIf="isVisible" (click)="scrollToTop()" aria-label="Voltar ao topo">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
    <path d="M5 2h14"></path>    
    <path d="M12 18V6"></path>
    <path d="M5 12l7-7 7 7"></path>
  </svg>
  
  </button>

<!-- Botão de Voltar ao Topo - Versão Mobile -->
<button class="back-to-top mobile" *ngIf="isMobile && isVisible" (click)="scrollToTop()" aria-label="Voltar ao topo">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
    <path d="M5 2h14"></path>    
    <path d="M12 18V6"></path>
    <path d="M5 12l7-7 7 7"></path>
  </svg>
</button>
