<!-- Botão de Voltar ao Topo -->
<button class="back-to-top" *ngIf="isVisible" (click)="scrollToTop()" aria-label="Voltar ao topo">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="white" stroke-width="2" viewBox="0 0 24 24">
      <path d="M5 15l7-7 7 7"></path>
    </svg>
  </button>
  <!-- Botão de Voltar ao Topo - Versão Geral -->
<button class="back-to-top" *ngIf="isVisible" (click)="scrollToTop()" aria-label="Voltar ao topo">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="white" stroke-width="2" viewBox="0 0 24 24">
    <path d="M5 15l7-7 7 7"></path>
  </svg>
</button>

<!-- Botão de Voltar ao Topo - Versão Mobile -->
<button class="back-to-top mobile" *ngIf="isMobile && isVisible" (click)="scrollToTop()" aria-label="Voltar ao topo">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="white" stroke-width="2" viewBox="0 0 24 24">
    <path d="M5 15l7-7 7 7"></path>
  </svg>
</button>
