/* Estilo do Botão de Voltar ao Topo */
.back-to-top {
    position: fixed;
    bottom: 20px; 
    margin-left: 670px;
    background-color: #1e293b; /* Cor escura para o círculo */
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s ease-in-out;
    z-index: 1000;
  }
  
  /* Efeito ao passar o mouse */
  .back-to-top:hover {
    background-color: #334155; 
    transform: scale(1.1); /* Leve aumento */
  }
  
  /* Animação de fade-in */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .back-to-top {
    animation: fadeIn 0.5s ease-in-out;
  }
  @media (max-width: 480px) {
    /* Botão de voltar ao topo para mobile */
    .back-to-top.mobile {
      position: fixed;
      bottom: 16px;
      right: 16px;
      width: 45px;
      height: 45px;
      background-color: #334155; /* Azul vibrante */
      color: white;
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: background 0.2s ease-in-out;
    }
  
   
  
    .back-to-top.mobile svg {
      width: 20px;
      height: 20px;
    }
  }
  