<div *ngIf="!isMobileSidebarOpen" class="flex h-screen">
  <!-- Sidebar Desktop -->
  <div *ngIf="!isMobile" class="sidebar">
    <app-side-bar></app-side-bar>
  </div>

  <!-- Main Content -->
  <div class="flex-1 bg-neutral-80 flex items-center justify-center">
    <div class="buscar-container">
      <app-buscar></app-buscar>
    </div>
  </div>
</div>

  <!-- Sidebar Mobile -->

    <!-- Sidebar Mobile -->
    <div *ngIf="isMobileSidebarOpen" class="sidebar-mobile open">
      <app-side-bar></app-side-bar>
      <button class="close-button" (click)="closeMobileSidebar()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </button>
    
  
    <!-- Main Content -->
    <div class="flex-1 bg-neutral-80 flex items-center justify-center">
      <div class="buscar-container">
        <app-buscar></app-buscar>
      </div></div>
    </div>
  
  
  