<div class="flex h-screen overflow-hidden">
  <!-- Sidebar SEMPRE visível e acima do overlay -->
  <div class="bg-neutral-800 text-white fixed h-full z-50">
    <app-side-bar  
      (openModalExternally)="toggleModal()">
    </app-side-bar>
  </div>

  <!-- Fundo escurecido (exceto sidebar) -->
  <div 
    *ngIf="isModalVisible"
    class="fixed inset-0 z-40"
    style="background-color: #b8bacd80;">
  </div>
  
  <!-- Backdrop do HighSearch -->
  <div 
    *ngIf="isSearchOpen"
    class="high-search-backdrop z-[100]"
    (click)="closeHighSearch()">
  </div>

  <!-- Gaveta do HighSearch -->
  <div 
    *ngIf="isSearchOpen" 
    class="high-search-drawer z-[101]"
    [ngClass]="{
      'translate-x-0': isSearchOpen, 
      'translate-x-full': !isSearchOpen,
      'fixed inset-0 flex justify-center items-end': isMobile,
      'fixed inset-y-0 right-0 w-[476px]': !isMobile
    }"
    (click)="$event.stopPropagation()">
    <div class="bg-white w-full h-full p-4 shadow-lg transform transition-transform duration-300 ease-in-out"
         [ngClass]="{
           'max-h-screen rounded-t-[16px]': isMobile,
           'border-l border-gray-300': !isMobile
         }">
      <app-high-search [isVisible]="isSearchOpen" (close)="closeHighSearch()"></app-high-search>
    </div>
  </div>

  <!-- Modal com referência -->
  <div 
    *ngIf="isModalVisible"
    #modalWrapper
    class="fixed z-50"
    style="left: 350px; bottom: 12px;">
    <app-modal-account></app-modal-account>
  </div>

  <div class="flex-1 bg-neutral-50 flex items-center justify-center ml-0 md:ml-80">
    <div class="buscar-container max-w-lg w-full text-center p-4">
      <app-buscar 
        [isSearchOpen]="isSearchOpen"
        (toggleAdvancedSearch)="toggleSearch()" 
        (closeAdvancedSearch)="closeHighSearch()">
      </app-buscar>
    </div>
  </div>

  <div *ngIf="isMobile" class="fixed inset-0 z-50 bg-neutral-800 text-white transform transition-transform duration-300 ease-in-out"
       [class.translate-x-0]="isMobileSidebarOpen"
       [class.-translate-x-full]="!isMobileSidebarOpen">
    <app-side-bar></app-side-bar>
  </div>
</div>