#workspaceContainer {
  width: 100%; 
  height: auto; 
  max-width: 1200px; 
  margin: 0 auto; 
  margin-top: 20px;
  flex-grow: 1; 
  width: calc(100vw - 220px); 
  max-width: calc(100vw - 220px); 
  height: auto;
  padding-right: 0; 
  box-sizing: border-box; 
  padding-left: 20px;
  padding-right: 150px;
}


/* Estilo padrão do círculo do SVG */
.info-icon .info-circle {
  fill: #4B5563;
  transition: fill 0.3s ease;
}

/* Estilo do círculo ao passar o mouse */
.group:hover .info-icon .info-circle {
  fill: #1F2937;
}

/* Garantir que o botão pai não interfira no fundo do SVG */
button.bg-transparent {
  background: transparent !important;
}