.header-container {
    padding: 1.5rem 2rem; /* Espaçamento superior/inferior e lateral */
    background-color: #ffffff; /* Fundo branco */
    border-bottom: 1px solid #e5e7eb; /* Borda inferior */
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Espaçamento entre as linhas */
  }
  
  .header-main-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-title {
    font-size: 1.25rem; /* Tamanho maior */
    font-weight: 600; /* Negrito */
    color: #111827; /* Cor escura */
  }
  
  .header-subtitle {
    font-size: 0.875rem; /* Texto menor */
    color: #6b7280; /* Cor cinza */
  }
  
  .header-actions {
    display: flex;
    gap: 1rem; /* Espaçamento entre os botões */
  }
  
  .action-buttonone {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #374151;
    border: 1px solid #d1d5dbbe;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
  }
  .action-buttontwo {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #374151;
    border: 1px solid #d1d5dbbe;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
  }
  
  .action-button:hover {
    background-color: #f3f4f6;
    border-color: #cbd5e1;
  }
  
  .header-filters-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .filters {
    display: flex;
    align-items: center;
    gap: 2rem; /* Espaçamento grande entre grupos */
  }
  
  .filter-item {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Espaçamento entre o radio e o texto */
    font-size: 0.875rem;
    color: #374151;
  }
  
  .filter-checkbox,
  .filter-radio {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }
  
  .filter-radio {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }
  .sorting {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .sorting-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
  }
  
  .sorting-select {
    font-size: 0.875rem;
    color: #374151;
    border-radius: 0.375rem;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .filter-group {
    display: flex;
    align-items: center;
    gap: 1.5rem; /* Espaçamento entre os radios */
  }

  .filter-button {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .filter-button:hover {
    background-color: #e5e7eb;
  }
  
  .filter-icon {
    width: 1.25rem;
    height: 1.25rem;
    color: #6b7280;
  }
  .button-group {
    display: flex;
    overflow: hidden; /* Garante que não tenha borda "vazando" */
  }