<div class="main-container">
  <div class="login-form">
    <div class="login-container">
      <img src="assets/col.png" alt="Logo" class="logo">
      <h1>Esqueceu sua senha?<br><p>Insira o email cadastrado, nós enviaremos uma nova senha, e você precisará redefini-lá após o acesso.</p>
</h1>
      <form>
         <!-- Campo de Email -->
         <div class="input-container" [ngClass]="{ 'error': emailError }">
          <label for="email" class="sr-only">Email</label>
          <input
            type="email"
            id="email"
            [(ngModel)]="email"
            name="email"
            placeholder="Email"
            (blur)="validateEmail()"
            required
          />
        </div>
        <p class="error-message" *ngIf="emailError">{{ emailError }}</p>
        
        <button type="submit" class="button">
          Enviar uma nova senha
        </button>
        <p class="register-link">
          <a href="#">Voltar ao login</a>
        </p>
      </form>
    </div>
  </div>
  <div class="img">
    <div class="image-section"></div>
  </div>
</div>
