<div class="layout-container">
    <!-- Sidebar -->
    <div class="sidebar">
        <app-side-bar></app-side-bar>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Cabeçalho Fixo -->
        <header class="header fixed-header">
            <app-header></app-header>
        </header>
<br>
<br>
<br>
<br>
<br>
        <!-- Conteúdo Principal -->
        <main class="main">
            <!-- Cartões -->
            <div class="card" *ngFor="let noticias of noticias">
                <app-card [noticias]="noticias"></app-card>
            </div>
            <br>
            <div class="card" *ngFor="let noticias of noticias">
                <app-card [noticias]="noticias"></app-card>
            </div>
            <br>
            <div class="card" *ngFor="let noticias of noticias">
                <app-card [noticias]="noticias"></app-card>
            </div>
        </main>
        <div class="scroll">
<app-scroll-top></app-scroll-top>
        </div>
        <app-mensoes></app-mensoes>
    </div>
</div>
