<div class="relative w-full h-auto bg-white" id="workspaceContainer">
  <div class="bg-white px-6 pt-6 transition-all duration-300"
       [ngClass]="{ 'h-0 opacity-0 overflow-hidden': isCollapsed, 'h-auto opacity-100': !isCollapsed }">
       
    <div class="flex items-center justify-between flex-wrap gap-4">
      <!-- Título e subtítulo -->
      <div>
        <h1 class="font-inter font-semibold text-[20px] leading-[24px] tracking-[-0.018em] text-gray-900">
          Buscas salvas
        </h1>
        <p class="font-inter font-medium text-[12px] leading-[16px] tracking-[-0.01em] text-gray-500">
          Todas as buscas salvas do Workspace
        </p>
      </div>

      <!-- Campo de busca alinhado à direita -->
      <div class="ml-auto w-full sm:w-[450px]">
        <app-simple-input-search></app-simple-input-search>
      </div>
    </div>
  </div>
</div>
