

<!-- Barra de Pesquisa Mobile -->
<div *ngIf="isMobile" class="flex items-center w-[327px] mx-auto gap-2">
  <input
    type="text"
    class="w-[327px] h-[46px] text-gray-900 bg-transparent border border-gray-300 focus:border-blue-600 focus:ring-0 focus:outline-none text-sm px-3 rounded-[8px]"
    placeholder="Pesquisar busca salva"
    [(ngModel)]="searchQuery"
    (input)="onSearch()"
  />

  <button
    (click)="closeBusca()"
    aria-label="Fechar busca"
    class="w-[24px] h-[24px] flex items-center justify-center text-gray-700"
  >
    ✕
  </button>
</div>

<!-- Barra de Pesquisa Desktop -->
<div *ngIf="!isMobile" class="flex items-center space-x-4 w-[409px]">
  <div
    class="relative flex items-center w-[409px] h-[46px] bg-white rounded-lg shadow-sm px-4
           border border-gray-200 focus-within:border-blue-600 focus-within:ring-[4px] focus-within:ring-[rgba(59,130,246,0.25)] transition-all duration-150 ease-in-out"
  >
    <!-- Ícone da Lupa -->
    <div class="text-gray-500 mr-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="11" cy="11" r="8"></circle>
        <path d="m21 21-4.3-4.3"></path>
      </svg>
    </div>

    <!-- Input de Busca -->
    <input
      type="text"
      class="w-full h-[46px] text-gray-900 bg-transparent border-none outline-none text-sm px-1 placeholder-gray-500"
      placeholder="Pesquisar busca salva"
      [(ngModel)]="searchQuery"
      (input)="onSearch()"
    />

    <!-- Ícone de "X" (limpar) -->
    <button
      *ngIf="searchQuery"
      (click)="searchQuery=''; onSearch();"
      class="flex flex-row items-center justify-end w-[48px] h-[44px] "
      type="button"
    >
      <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.5 4L4.5 12" stroke="#6B7280" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M4.5 4L12.5 12" stroke="#6B7280" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </div>
</div>
