<div class="relative min-h-screen bg-gray-50">
    <div class="bg-neutral-800 text-white fixed h-full z-50">
    <app-side-bar-employees
      (userChange)="onUserChange($event)"
      (openModalExternally)="toggleModal()">
    </app-side-bar-employees>
  </div>

  <main class="lg:ml-[314px] p-4 sm:p-8 flex flex-col items-center gap-8">
    <div class="w-full max-w-6xl">
      <app-header-client (openModal)="toggleModal()"></app-header-client>
    </div>

    <div class="w-full max-w-6xl h-auto bg-white border border-gray-200 rounded-lg shadow-sm">
      <app-table-clients></app-table-clients>
    </div>
  </main>

  <div *ngIf="isModalOpen"
       class="fixed inset-0 flex items-center justify-center z-[1050] bg-black bg-opacity-40 backdrop-blur-sm"
       (click)="closeModal()">
    <div (click)="$event.stopPropagation()">
      <app-modal-create-client
        [editMode]="false"
        (close)="closeModal()"
        (clientCreated)="openContractModal($event)">
      </app-modal-create-client>
    </div>
  </div>

  <div *ngIf="isContractModalOpen"
       class="fixed inset-0 flex items-center justify-center z-[1060] bg-black bg-opacity-40 backdrop-blur-sm"
       (click)="closeContractModal()">
    <div (click)="$event.stopPropagation()">
      <app-modal-contract
        [clientName]="newlyCreatedClientName" (cancel)="closeContractModal()"
        (registerLater)="closeContractModal()"
        (continueRegistration)="openCreateContractUserModal()"> </app-modal-contract>
    </div>
  </div>

  <div *ngIf="isCreateContractUserModalOpen"
       class="fixed inset-0 flex items-center justify-center z-[1070] bg-black bg-opacity-40 backdrop-blur-sm"
       (click)="closeCreateContractUserModal()">
    <div (click)="$event.stopPropagation()">
      <app-modal-create-contract-user
        (close)="closeCreateContractUserModal()">
      </app-modal-create-contract-user>
    </div>
  </div>
</div>