<div class="flex flex-col">
  <div class="p-1.5 min-w-full inline-block align-middle">
    <div class="overflow-hidden">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nome</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">E-mail</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Tipo de usuário</th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
              <!-- Filter Icon Column Header -->
              <button type="button" class="inline-flex items-center p-1.5 text-gray-500 hover:text-gray-700">
                <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V19l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z" />
                </svg>
              </button>
            </th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Ações</th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"></th> <!-- Empty header for three dots -->
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr *ngFor="let collaborator of collaborators" class="odd:bg-white even:bg-gray-50 hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">{{ collaborator.name }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{ collaborator.email }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
              <span class="py-1 px-2.5 inline-flex items-center gap-x-1 text-xs font-medium rounded-full"
                    [ngClass]="{
                      'bg-teal-100 text-teal-800': collaborator.userType === 'Owner',
                      'bg-blue-100 text-blue-800': collaborator.userType === 'Analista Interno'
                    }">
                {{ collaborator.userType }}
              </span>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
              <!-- Empty cell for the filter column -->
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
              <div class="flex items-center justify-center gap-x-4">
                <app-switch 
                  [value]="collaborator.status === 'active'" 
                  (valueChange)="onStatusChange(collaborator, $event)">
                </app-switch>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
              <!-- Three dots dropdown button -->
              <div class="hs-dropdown relative inline-flex" data-hs-dropdown>
                <button id="hs-dropdown-vertical-actions-{{collaborator.id}}" type="button" class="hs-dropdown-toggle p-1 inline-flex justify-center items-center gap-2 font-medium text-gray-700 hover:text-gray-900 focus:text-gray-900 transition-all text-sm">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12C18 12.5523 18.4477 13 19 13Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </button>
                <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-[10rem] bg-white shadow-md rounded-lg p-2 mt-2 divide-y divide-gray-200 z-10" [attr.aria-labelledby]="'hs-dropdown-vertical-actions-' + collaborator.id">
                  <div class="py-2 first:pt-0 last:pb-0">
                    <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-100" href="#">Editar</a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Rodapé com Paginação -->
  <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200">
    <div>
      <p class="text-sm text-gray-600">
        Mostrando <span class="font-semibold text-gray-800">10</span> de <span class="font-semibold text-gray-800">{{ collaborators.length }}</span> resultados
      </p>
    </div>
    <div>
      <nav class="flex items-center space-x-1">
        <button type="button" class="p-2.5 inline-flex items-center gap-x-2 text-sm rounded-full text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none">
          <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/></svg>
        </button>
        <button type="button" class="min-w-[38px] h-[38px] flex justify-center items-center text-gray-800 bg-gray-200 py-2.5 text-sm rounded-full font-medium" aria-current="page">1</button>
        <button type="button" class="min-w-[38px] h-[38px] flex justify-center items-center text-gray-800 hover:bg-gray-100 py-2.5 text-sm rounded-full">2</button>
        <button type="button" class="min-w-[38px] h-[38px] flex justify-center items-center text-gray-800 hover:bg-gray-100 py-2.5 text-sm rounded-full">3</button>
        <span class="text-gray-500">...</span>
        <button type="button" class="min-w-[38px] h-[38px] flex justify-center items-center text-gray-800 hover:bg-gray-100 py-2.5 text-sm rounded-full">10</button>
        <button type="button" class="p-2.5 inline-flex items-center gap-x-2 text-sm rounded-full text-gray-800 hover:bg-gray-100">
          <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>
        </button>
      </nav>
    </div>
  </div>
</div>
