<div class="fixed inset-0 flex justify-center items-center bg-black-50 bg-opacity-20 z-50">
  <div class="bg-white max-w-[1086px] w-full rounded-2xl shadow-lg p-6">
    <header class="mb-6">
      <h1 class="text-2xl font-semibold text-gray-900">Salvar nova busca</h1>
      <p class="text-sm text-gray-500 mt-[2px]">Insira as edições desejadas</p>
    </header>

    <div class="flex items-start gap-8">
      <!-- Abas (Steps) -->
      <nav class="w-[225px]">
        <div 
          class="flex items-center gap-3 my-2 h-[52px]"
          [class]="currentStep === 1 ? 'text-blue-600' : 'text-gray-500'">
          
          <span 
            class="w-8 h-8 rounded-full flex items-center justify-center font-bold text-sm transition-colors"
            [class]="currentStep >= 1 ? 'bg-blue-500 text-white' : 'bg-blue-100 text-blue-500'">
            1
          </span>
    
          <div>
            <span 
              class="text-base font-medium"
              [class]="currentStep >= 1 ? 'text-blue-700' : 'text-gray-500'">
              Informações básicas
            </span>
          </div>
        </div>
    
        <div 
          class="flex items-center gap-3 my-2 h-[52px]"
          [class]="currentStep === 2 ? 'text-blue-600' : 'text-gray-500'">
          
          <span 
            class="w-8 h-8 rounded-full flex items-center justify-center font-bold text-sm transition-colors"
            [class]="currentStep >= 2 ? 'bg-blue-500 text-white' : 'bg-blue-100 text-blue-500'">
            2
          </span>
    
          <div>
            <span 
              class="text-base font-medium"
              [class]="currentStep >= 2 ? 'text-blue-700' : 'text-gray-500'">
              Alertas
            </span>
            <p class="text-xs text-gray-400">Configuração opcional</p>
          </div>
        </div>
      </nav>
      <!-- Etapa 1: Informações básicas -->
      <section *ngIf="currentStep === 1" class="w-[765px] h-[435px] bg-white rounded-2xl shadow-sm -mt-6">
        <form [formGroup]="salvarBuscaForm">
          <div class="flex items-center bg-gray-50 border-b border-gray-200 px-8 py-6">
            <h2 class="text-sm font-semibold text-gray-800">Informações básicas Busca Salva</h2>
          </div>

          <div class="flex items-center justify-between px-8 py-6">
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-1">Nome da busca salva <span class="text-red-500">*</span></label>
              <p class="text-xs text-gray-500 mb-2">Aparecerá nas menções dessa busca</p>
            </div>
            <input type="text" formControlName="searchName" class="w-[328px] p-3 text-sm border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-2 focus:ring-blue-200 outline-none transition-all" placeholder="Digite o nome da busca">
          </div>
          <hr class="mx-6 border-t border-gray-200">

          <div class="flex items-center justify-between px-8 py-6">
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-1">Início do monitoramento <span class="text-red-500">*</span></label>
              <p class="text-xs text-gray-500 mb-2">Data que o sistema começará a coletar menções dessa busca</p>
            </div>
            <input 
              type="date" 
              formControlName="startDate" 
              class="w-[328px] p-3 text-sm border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-2 focus:ring-blue-200 outline-none transition-all">
          </div>
          <hr class="mx-6 border-t border-gray-200">

          <div class="flex items-center justify-between px-8 py-6">
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-1">Fim do monitoramento</label>
              <p class="text-xs text-gray-500 mb-2">Data que o sistema irá finalizar a coleta de menções dessa busca</p>
            </div>
            <input type="date" formControlName="endDate" class="w-[328px] p-3 text-sm border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-2 focus:ring-blue-200 outline-none transition-all">
          </div>

          <div class="text-right mt-6 px-8">
            <button type="button" class="bg-gray-600 text-white px-5 py-2.5 text-sm font-semibold rounded-lg hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-300 transition-all" (click)="nextStep(); $event.stopPropagation()">Concluir e salvar edições</button>
          </div>
        </form>
      </section>

      <!-- Etapa 2: Alertas -->
      <section *ngIf="currentStep === 2" class="w-[765px] h-[435px] bg-white rounded-2xl shadow-sm -mt-6">
        <div class="p-5 bg-white rounded-xl max-h-[350px] overflow-y-auto">
          <section class="border border-gray-200 rounded-lg mb-5 overflow-hidden">
            <div class="bg-gray-50 border-b border-gray-200 px-8 py-6">
              <h2 class="text-base font-semibold text-gray-800">Passo 1: Parâmetros do alerta</h2>
            </div>
            <div class="flex justify-between items-center px-8 py-6">
              <div class="max-w-[70%]">
                <label class="block text-sm font-medium text-gray-700">Ativar alerta <span class="text-red-500">*</span></label>
                <p class="text-xs text-gray-500 mt-1">Enviar um alerta sempre que houver uma nova menção</p>
              </div>
              <label class="relative inline-flex items-center cursor-pointer" style="width: 50px; height: 28px;">
                <input type="checkbox" class="sr-only peer" [(ngModel)]="isAlertActive" (change)="onToggleAlert()" />
                <div
                  class="w-full h-full bg-gray-300 peer-checked:bg-blue-600 rounded-full transition-colors duration-200 ease-in-out
                         before:content-[''] before:absolute before:w-[22px] before:h-[22px] before:bg-white before:rounded-full
                         before:top-[3px] before:left-[3px] peer-checked:before:translate-x-[22px]
                         before:transition before:duration-200 before:ease-in-out"
                ></div>
              </label>
            </div>
            <hr class="border-t border-gray-200">
            <div class="flex justify-between items-center px-8 py-6">
              <div class="max-w-[70%]">
                <label class="block text-sm font-medium text-gray-700">Ativar alerta somente para menções negativas <span class="text-red-500">*</span></label>
                <p class="text-xs text-gray-500 mt-1">Enviar um alerta apenas quando uma nova menção for analisada com sentimento negativo</p>
              </div>
              <label class="relative inline-flex items-center cursor-pointer" style="width: 50px; height: 28px;">
                <input type="checkbox" class="sr-only peer" [(ngModel)]="isNegativeAlertActive" (change)="onToggleNegativeAlert()" />
                <div
                  class="w-full h-full bg-gray-300 peer-checked:bg-blue-600 rounded-full transition-colors duration-200 ease-in-out
                         before:content-[''] before:absolute before:w-[22px] before:h-[22px] before:bg-white before:rounded-full
                         before:top-[3px] before:left-[3px] peer-checked:before:translate-x-[22px]
                         before:transition before:duration-200 before:ease-in-out"
                ></div>
              </label>
            </div>
          </section>

          <section class="border border-gray-200 rounded-lg overflow-hidden">
            <div class="flex items-center px-4 py-4 border-b border-gray-200">
              <input type="checkbox" id="select-all" class="mr-2 w-4 h-4 cursor-pointer" />
              <label for="select-all" class="text-sm text-gray-700 font-medium">Selecionar todos do Workspace</label>
            </div>

            <ul class="list-none">
              <li
                *ngFor="let user of userList"
                class="flex flex-row items-start w-[765px] h-[54px] border-b border-gray-200 box-border"
              >
                <!-- Checkbox -->
                <div class="flex justify-center items-center w-[51px] h-[54px] px-5 py-3">
                  <input type="checkbox" id="select-all" class="mr-2 w-[16px] h-[16px] cursor-pointer" />

                
                </div>

                <!-- Avatar and Name -->
                <div class="flex items-center w-[272px] h-[54px] py-2">
                  <div class="flex items-center w-[162px] h-[38px] space-x-3">
                    <div
                      class="w-[38px] h-[38px] rounded-full bg-blue-100 flex items-center justify-center isolate"
                    >
                      <span
                        class="w-5 h-5 font-inter text-sm font-semibold leading-5 tracking-tight text-center text-blue-800"
                      >
                        {{ user.avatar }}
                      </span>
                    </div>
                    <span
                      class="w-[112px] h-5 font-inter text-sm font-medium leading-5 tracking-tight text-gray-900"
                    >
                      {{ user.name }}
                    </span>
                  </div>
                </div>

                <!-- Email -->
                <div class="flex items-center w-[324px] h-[54px] px-5 py-3">
                  <span
                    class="w-[161px] h-5 font-inter text-sm font-medium leading-5 tracking-tight text-center text-gray-900"
                  >
                    {{ user.email }}
                  </span>
                </div>
              </li>
            </ul>

            <!-- Linha de adicionar destinatário -->
            <div
              class="flex flex-row items-center w-[765px] h-[70px]"
              *ngIf="showAddDestinationForm"
            >
              <!-- Nome do destinatário -->
              <div class="px-4">
                <input
                  type="text"
                  [(ngModel)]="newUserName"
                  placeholder="Nome do destinatário"
                  class="w-[272px] h-[46px] p-3 border border-gray-300 rounded-lg text-sm text-gray-700 bg-white font-inter font-medium leading-[17px] tracking-tight focus:border-blue-500 focus:ring-2 focus:ring-blue-200 outline-none transition-all"
                  aria-label="Nome do destinatário"
                />
              </div>

              <!-- Email do destinatário -->
              <div class="relative px-4">
                <input
                  type="email"
                  [(ngModel)]="newUserEmail"
                  placeholder="Email do destinatário"
                  class="w-[272px] h-[46px] pl-10 pr-3 border border-gray-300 rounded-lg text-sm text-gray-700 bg-white font-inter font-medium leading-[17px] tracking-tight focus:border-blue-500 focus:ring-2 focus:ring-blue-200 outline-none transition-all"
                  aria-label="Email do destinatário"
                />
                <div class="absolute inset-y-0 left-6 flex items-center pointer-events-none">
                  <svg
                    width="17"
                    height="16"
                    viewBox="0 0 17 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-[17px] h-4 text-gray-500"
                  >
                    <path
                      d="M13.8333 2.66699H3.16659C2.43021 2.66699 1.83325 3.26395 1.83325 4.00033V12.0003C1.83325 12.7367 2.43021 13.3337 3.16659 13.3337H13.8333C14.5696 13.3337 15.1666 12.7367 15.1666 12.0003V4.00033C15.1666 3.26395 14.5696 2.66699 13.8333 2.66699Z"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M15.1666 4.66699L9.18659 8.46699C8.98077 8.59594 8.7428 8.66433 8.49992 8.66433C8.25704 8.66433 8.01907 8.59594 7.81325 8.46699L1.83325 4.66699"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>

              <!-- Botões -->
              <div class="flex flex-row gap-2 ml-[-10px]">
                <button
                  type="button"
                  class="w-[46px] h-[46px] bg-gray-100 text-gray-500 rounded-lg flex items-center justify-center hover:bg-gray-200 transition-all"
                  (click)="cancelAddDestination(); $event.stopPropagation()"
                  aria-label="Cancelar adição de destinatário"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M18 6 6 18"></path>
                    <path d="M6 6l12 12"></path>
                  </svg>
                </button>

                <button
                  type="button"
                  class="w-[46px] h-[46px] bg-teal-500 text-white rounded-lg flex items-center justify-center hover:bg-teal-600 transition-all"
                  (click)="addDestination(); $event.stopPropagation()"
                  aria-label="Adicionar destinatário"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5"
                    fill="none"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </button>
              </div>
            </div>

            <!-- Link "Adicionar outro destinatário" -->
            <div
              class="flex flex-col justify-center items-start px-5 gap-[10px] w-[765px] h-[54px] "
              *ngIf="!showAddDestinationForm"
            >
              <a
                href="#"
                (click)="toggleAddDestinationForm($event)"
                class="text-sm text-blue-600 font-inter font-medium leading-5 tracking-tight hover:underline"
              >
                Adicionar outro destinatário
              </a>
            </div>
          </section>
        </div>

        <!-- Rodapé dentro do contêiner -->
        <div class="p-6  flex justify-end gap-3 bg-white">
          <button class="w-[124px] h-[46px] bg-white text-gray-600 font-semibold text-[15px] rounded-lg border border-gray-300 hover:bg-gray-200 transition-all" (click)="previousStep(); $event.stopPropagation()">Voltar</button>
          <button class="w-[179px] h-[46px] bg-gray-600 text-white font-semibold text-[15px] rounded-lg hover:bg-gray-700 transition-all" (click)="onSubmit(); $event.stopPropagation()">Concluir e salvar edições</button>
        </div>
      </section>
    </div>
  </div>
</div>