.layout-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.flex-1 {
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  transition: margin-left 0.3s ease;
}

.relative {
  position: relative;
}

.ml-16 {
  margin-left: 64px;
}

.ml-390px {
  margin-left: 390px;
}

/* Ajuste o conteúdo principal quando o drawer está aberto */
:host-context(.show-entities-drawer) .flex-1 {
  padding-right: 384px;
}

/* Wrapper para o cabeçalho */
.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: white;
}

/* Ajuste no container de conteúdo para evitar sobreposição com o cabeçalho fixo */
.content-container {
  max-width: 590px;
  width: 100%;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  padding-top: 162px; /* Altura da versão completa do cabeçalho */
}

/* Ajuste para quando o cabeçalho estiver na versão compacta */
.header-scrolled ~ .content-container {
  padding-top: 60px; /* Altura da versão compacta do cabeçalho */
}

/* Quando a barra lateral está expandida */
.ml-390px .content-container {
  margin-left: 10px;
}

/* Quando a barra lateral está comprimida */
.ml-16 .content-container {
  margin-left: 170px;
}

/* Garante que o conteúdo interno não ultrapasse os limites */
.content-container > * {
  max-width: 100%;
  box-sizing: border-box;
}

/* Ajuste específico para o player e a descrição */
.px-4 {
  padding-left: 0;
  padding-right: 0;
  margin-top: 125px;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .ml-16, .ml-390px {
    margin-left: 0;
  }

  .content-container {
    margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 500px;
  }

  .header-scrolled ~ .content-container {
    padding-top: 50px;
  }

  .header-wrapper {
    margin-left: 0;
  }
}

/* Estilos para realce de entidades */
.highlight-person {
  background-color: rgba(255, 99, 71, 0.3);
  color: red;
}

.highlight-place {
  background-color: rgba(135, 206, 250, 0.3);
  color: blue;
}

.highlight-organization {
  background-color: rgba(144, 238, 144, 0.3);
  color: green;
}

.highlight-date {
  background-color: rgba(255, 215, 0, 0.3);
  color: yellow;
}

.text-gray-700 {
  color: #4a5568;
}

.text-sm {
  font-size: 14px;
}

.leading-relaxed {
  line-height: 1.75;
}

.padding-top-32 {
  padding-top: 32px;
}

.entity-person {
  background-color: #bbdefb;
  color: #0d47a1;
  font-weight: bold;
  padding: 0 5px;
  border-radius: 4px;
}

.entity-location {
  background-color: #c8e6c9;
  color: #388e3c;
  font-weight: bold;
  padding: 0 5px;
  border-radius: 4px;
}

.entity-organization {
  background-color: #ffccbc;
  color: #c62828;
  font-weight: bold;
  padding: 0 5px;
  border-radius: 4px;
}

.entity-date {
  background-color: #fff9c4;
  color: #f57f17;
  font-weight: bold;
  padding: 0 5px;
  border-radius: 4px;
}