<div class="layout-container flex min-h-screen">
  <!-- Sidebar fixa -->
  <div class="bg-neutral-800 text-white fixed h-full">
    <app-side-bar
      [isSidebarOpen]="isSidebarOpen"
      (sidebarToggled)="onSidebarToggled($event)"
      (userChange)="onUserChange($event)">
    </app-side-bar>
  </div>

  <!-- Container para o cabeçalho (fixo no topo) -->
  <div class="header-wrapper" [ngClass]="{
    'ml-16': !isSidebarOpen,
    'ml-390px': isSidebarOpen,
    'header-scrolled': isHeaderScrolled
  }">
    <div class="header-inner">
      <app-header-mention-details></app-header-mention-details>
    </div>
  </div>

  <!-- Conteúdo principal -->
  <div
    class="flex-1 flex flex-col relative"
    [ngClass]="{
      'ml-16': !isSidebarOpen,
      'ml-390px': isSidebarOpen
    }"
  >
    <!-- Container interno para o conteúdo -->
    <div class="content-container" style="padding: 52px 0;">
      <!-- Player -->
      <div class="px-4">
        <app-player
          [showEntitiesDrawer]="showEntitiesDrawer"
          [ngClass]="{'player-minimized': isPlayerMinimized}"
          (descriptionEmitter)="onDescriptionReceived($event)">
        </app-player>
      </div>
      <!-- Descrição do vídeo com marcação de entidades -->
      <div class="px-4" style="margin-top: 40px;">
        <p class="text-gray-700 text-sm leading-relaxed" [innerHTML]="videoDescription || 'Nenhuma descrição disponível'"></p>
      </div>
    </div>
  </div>

  <!-- Botão "Ver entidades extraídas" -->
  <div class="fixed bottom-4 right-4 z-50" [ngClass]="{'right-340': !showEntitiesDrawer}">
    <app-view-entidades-search (click)="verEntidadesExtraidas()"></app-view-entidades-search>
  </div>

  <!-- Entities Drawer -->
  <div
    *ngIf="showEntitiesDrawer"
    class="fixed top-0 right-0 w-96 h-full bg-white shadow-lg z-50 transition-transform duration-300"
    [ngClass]="{'translate-x-0': showEntitiesDrawer, 'translate-x-full': !showEntitiesDrawer}"
  >
    <app-entities-drawer
      [textoOriginal]="textoOriginal"
      (textoMarcadoChange)="onDescriptionReceived($event)"
      (close)="verEntidadesExtraidas()"
      (openEntityOptions)="onOpenEntityOptions($event)"
    ></app-entities-drawer>
  </div>

  <!-- Modal para opções de entidade -->
  <app-modal-entitie-option
  *ngIf="isModalVisible && selectedEntity"
  [entityName]="selectedEntity.entity!"
  [type]="selectedEntity.type!"
  [position]="modalPosition"
  (close)="closeModal()"
></app-modal-entitie-option>

</div>