/* Oculta a barra de rolagem mas mantém o scroll funcional */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;     /* Firefox */
  }
  .layout-container {
    display: flex;
    height: 100vh;
  }