
  
  .player-container.fixed {
    cursor: grab;
    transition: transform 0.1s ease-out;
  }
  
  .player-container.fixed:active {
    cursor: grabbing;
  }
  .highlight-date {
    background-color: #fef08a; /* Amarelo */
    padding: 2px 4px;
    border-radius: 3px;
  }
  
  .highlight-place {
    background-color: #bfdbfe; /* Azul */
    padding: 2px 4px;
    border-radius: 3px;
  }
  
  .highlight-person {
    background-color: #fed7aa; /* Laranja */
    padding: 2px 4px;
    border-radius: 3px;
  }
  
  .highlight-organization {
    background-color: #bbf7d0; /* Verde */
    padding: 2px 4px;
    border-radius: 3px;
  }
  .highlight-person {
    background-color: rgba(255, 99, 71, 0.3); /* Cor de fundo para pessoas */
    color: red;
  }
  
  .highlight-place {
    background-color: rgba(135, 206, 250, 0.3); /* Cor de fundo para lugares */
    color: blue;
  }
  
  .highlight-organization {
    background-color: rgba(144, 238, 144, 0.3); /* Cor de fundo para organizações */
    color: green;
  }
  
  .highlight-date {
    background-color: rgba(255, 215, 0, 0.3); /* Cor de fundo para datas */
    color: yellow;
  }
  