<!-- monitor-card.component.html -->
<div class="relative bg-white shadow-md rounded-lg p-6 w-full max-w-md">
  <!-- Barra colorida à esquerda -->
  <div
    class="absolute left-0 top-0 h-full w-1 rounded-l-lg"
    [ngClass]="{
      'bg-teal-500': status === 'Ativa',
      'bg-blue-500': status === 'Pendente',
      'bg-red-500': status === 'Desativada'
    }"
  ></div>

  <!-- Título -->
  <div class="flex justify-between items-center mb-4 w-full">
    <h2 class="text-lg font-semibold text-gray-800">{{ title }}</h2>
    <div class="relative ml-auto">
      <button class="text-gray-500 hover:text-gray-700" (click)="optionSearch.toggleMenu($event)" [attr.aria-expanded]="optionSearch.isMenuOpen" aria-label="Abrir menu de opções">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 12h.01M12 12h.01M18 12h.01"></path>
        </svg>
      </button>
      <!-- Incluindo o OptionSearchComponent -->
      <app-option-search #optionSearch [cardData]="cardData"></app-option-search>
    </div>
  </div>

  <!-- Informações -->
  <div class="space-y-3">
    <div class="flex justify-between">
      <span class="text-gray-600">Início do monitoramento:</span>
      <span class="text-gray-800 font-medium">{{ startDate }}</span>
    </div>
    <hr>
    <div class="flex justify-between">
      <span class="text-gray-600">Fim do monitoramento:</span>
      <span class="text-gray-800 font-medium">{{ endDate }}</span>
    </div>
    <hr>
    <div class="flex justify-between items-center">
      <span class="text-gray-600">Status:</span>
      <span
        class="bg-teal-100 text-teal-800 text-sm font-medium px-2.5 py-0.5 rounded"
        [ngClass]="{
          'bg-teal-100 text-teal-800': status === 'Ativa',
          'bg-blue-100 text-blue-800': status === 'Pendente',
          'bg-red-100 text-red-800': status === 'Desativada'
        }"
      >
        {{ status }}
      </span>
    </div>
  </div>

  <!-- Botão -->
  <div class="mt-6">
    <button class="w-full bg-gray-800 text-white font-medium py-2 px-4 rounded-lg hover:bg-gray-900 flex items-center justify-center gap-2" [routerLink]="['/result-saved-search']">
      Detalhe da busca
      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</div>