<!-- option-search.component.html -->
<div *ngIf="isMenuOpen" class="absolute top-full right-0 mt-2 bg-white rounded-lg w-[187px] p-0 shadow-lg z-[1000]">
  <!-- Editar Busca -->
  <a class="menu-item block w-[187px] h-[52px] pt-4 pr-6 pb-4 pl-6 text-gray-800 no-underline font-medium text-sm leading-5 tracking-tight cursor-pointer hover:bg-gray-100" (click)="openEditModal()">Editar busca</a>

  <hr class="border-0 h-[1px] bg-gray-300 mx-6 rounded-lg">

  <!-- Duplicar Busca -->
  <a class="menu-item block w-[187px] h-[52px] pt-4 pr-6 pb-4 pl-6 text-gray-800 no-underline font-medium text-sm leading-5 tracking-tight cursor-pointer hover:bg-gray-100" (click)="openDuplicateModal()">Duplicar busca</a>

  <hr class="border-0 h-[1px] bg-gray-300 mx-6 rounded-lg">

  <!-- Remover Busca Salva -->
  <a class="menu-item block w-[187px] h-[52px] pt-4 pr-6 pb-4 pl-6 text-red-600 no-underline font-medium text-sm leading-5 tracking-tight cursor-pointer hover:bg-red-100" (click)="openRemoveModal(); $event.stopPropagation()">Remover busca salva</a>
</div>