<div *ngIf="!isMobile">
<div class="flex h-screen">
  <!-- Navegador Compacto Lateral -->
  <div class="compact-sidebar">
    <button class="sidebar-button active-button">ST</button>
    <button class="sidebar-button">PG</button>
    <button class="sidebar-button">SE</button>
  </div>

  <!-- Sidebar -->
  <div [ngClass]="{ 'sidebar-expanded': isExpanded, 'sidebar-collapsed': !isExpanded }" class="sidebar">
    <!-- Header -->
    <div class="sidebar-header">
      <div>
        <h2>Superior Tribunal Federal</h2>
        <p>Workspace</p>

        <h3>MENU WORKSPACE</h3>
      </div>
    </div>

    <!-- Menu -->
    <nav class="menu">
      <ul >
        <li>
          <a routerLink="/navBar" routerLinkActive="active" class="menu-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"></path>
              <path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            </svg>
            <p class="text-sm ml-2 font-medium">Início</p>
          </a>
        </li>
      
        <li>
          <a routerLink="/busca" routerLinkActive="active" class="menu-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.3-4.3"></path>
            </svg>
            <p class="text-sm ml-2 font-medium">Busca Geral</p>
          </a>
        </li>
      
        <li>
          <a routerLink="/home/saved-search" routerLinkActive="active" class="menu-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2z"></path>
              <path d="M17 21v-8H7v8"></path>
              <path d="M7 3v4h10V3"></path>
            </svg>
            <p class="text-sm ml-2 font-medium">Buscas Salvas</p>
          </a>
        </li>
      
        <li>
          <a routerLink="/home/clippings" routerLinkActive="active" class="menu-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide"><path d="M4 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2" key="1vzg26"></path><path d="M10 22H8" key="euku7a"></path><path d="M16 22h-2" key="18d249"></path><circle cx="8" cy="8" r="2" key="14cg06"></circle><path d="M9.414 9.414 12 12" key="qz4lzr"></path><path d="M14.8 14.8 18 18" key="11flf1"></path><circle cx="8" cy="16" r="2" key="1acxsx"></circle><path d="m18 6-8.586 8.586" key="11kzk1"></path></svg>
            <p class="text-sm ml-2 font-medium">Clippings</p>
          </a>
        </li>
      
        <li>
          <a routerLink="/home/report" routerLinkActive="active" class="menu-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide">
              <path d="M14 2v4a2 2 0 0 0 2 2h4" key="tnqrlb"></path>
              <path d="M16 22h2a2 2 0 0 0 2-2V7l-5-5H6a2 2 0 0 0-2 2v3.5" key="13ddob">
              </path><path d="M4.017 11.512a6 6 0 1 0 8.466 8.475" key="s6vs5t"></path><path d="M9 16a1 1 0 0 1-1-1v-4c0-.552.45-1.008.995-.917a6 6 0 0 1 4.922 4.922c.091.544-.365.995-.917.995z" key="1dl6s6"></path></svg>
            <p class="text-sm ml-2 font-medium">Relatórios</p>
          </a>
        </li>
      
        <li>
          <a routerLink="/home/dashboard" routerLinkActive="active" class="menu-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <rect width="7" height="9" x="3" y="3" rx="1"></rect>
              <rect width="7" height="5" x="14" y="3" rx="1"></rect>
              <rect width="7" height="9" x="14" y="12" rx="1"></rect>
              <rect width="7" height="5" x="3" y="16" rx="1"></rect>
            </svg>
            <p class="text-sm ml-2 font-medium">Dashboard</p>
          </a>
        </li>
      
        <li>
          <a routerLink="/home/settings" routerLinkActive="active" class="menu-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide"><path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z" key="1qme2f"></path><circle cx="12" cy="12" r="3" key="1v7zrd"></circle></svg>
            <p class="text-sm ml-2 font-medium">Configurações</p>
          </a>
        </li>
      </ul>
      
    </nav>

    <!-- Footer -->
    <div class="sidebar-footer">
      <div class="footer-content">
        <!-- Avatar -->
        <div class="avatar">NA</div>
  
        <!-- Nome e Cargo -->
        <div class="user-info">
          <p class="user-name">Antônio Costa</p>
          <p class="user-role">Analista</p>
        </div>
  
        <!-- Botão do menu -->
        <button (click)="toggleMenu()" class="menu-button">⋮</button>
        <app-modal-account *ngIf="menuOpen" class="dropdown-menu"></app-modal-account>
      </div>
    </div>
  </div>
  </div>
</div>
<div *ngIf="isMobile">
  <div class="mobile-layout">
    <!-- Botão para abrir Sidebar -->
    <button class="sidebar-toggle" (click)="toggleSidebar()">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="4" y1="6" x2="20" y2="6"></line>
        <line x1="4" y1="12" x2="20" y2="12"></line>
        <line x1="4" y1="18" x2="20" y2="18"></line>
      </svg>
    </button>

    <!-- Sidebar Mobile -->
    <    <div [ngClass]="{ 'sidebar-open': isSidebarOpen, 'sidebar-closed': !isSidebarOpen }" class="sidebar-mobile">
      <div class="sidebar-header">
        <div class="workspace-info">
          <div class="workspace-icon">ST</div>
          <div class="workspace-title-container">
            <h1 class="workspace-title">Workspace</h1>
            <p class="workspace-subtitle">Supremo Tribunal Federal</p>
          </div>
        </div>
        <button (click)="toggleSidebar()" class="close-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </button>
      </div>

      <nav class="menu">
        <h3 class="menu-title">MENU WORKSPACE</h3>
        <ul >
          <li>
            <a routerLink="/navBar" routerLinkActive="active" class="menu-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"></path>
                <path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
              </svg>
              <p class="text-sm ml-2 font-medium">Início</p>
            </a>
          </li>
        
          <li>
            <a routerLink="/busca" routerLinkActive="active" class="menu-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="11" cy="11" r="8"></circle>
                <path d="m21 21-4.3-4.3"></path>
              </svg>
              <p class="text-sm ml-2 font-medium">Busca Geral</p>
            </a>
          </li>
        
          <li>
            <a routerLink="/home/saved-search" routerLinkActive="active" class="menu-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2z"></path>
                <path d="M17 21v-8H7v8"></path>
                <path d="M7 3v4h10V3"></path>
              </svg>
              <p class="text-sm ml-2 font-medium">Buscas Salvas</p>
            </a>
          </li>
        
          <li>
            <a routerLink="/home/clippings" routerLinkActive="active" class="menu-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide"><path d="M4 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2" key="1vzg26"></path><path d="M10 22H8" key="euku7a"></path><path d="M16 22h-2" key="18d249"></path><circle cx="8" cy="8" r="2" key="14cg06"></circle><path d="M9.414 9.414 12 12" key="qz4lzr"></path><path d="M14.8 14.8 18 18" key="11flf1"></path><circle cx="8" cy="16" r="2" key="1acxsx"></circle><path d="m18 6-8.586 8.586" key="11kzk1"></path></svg>
              <p class="text-sm ml-2 font-medium">Clippings</p>
            </a>
          </li>
        
          <li>
            <a routerLink="/home/dashboard" routerLinkActive="active" class="menu-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <rect width="7" height="9" x="3" y="3" rx="1"></rect>
                <rect width="7" height="5" x="14" y="3" rx="1"></rect>
                <rect width="7" height="9" x="14" y="12" rx="1"></rect>
                <rect width="7" height="5" x="3" y="16" rx="1"></rect>
              </svg>
              <p class="text-sm ml-2 font-medium">Dashboard</p>
            </a>
          </li>
  
        </ul>
      </nav>
      <div class="sidebar-footer">
        <div class="footer-content">
          <div class="avatar">AC</div>
          <div class="user-info">
            <p class="user-name">Antônio Costa</p>
            <p class="user-role">Analista</p>
          </div>
        </div>
        <div class="logout-container">
          <button class="menu-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" key="1uf3rs"></path><polyline points="16 17 21 12 16 7" key="1gabdz"></polyline><line x1="21" x2="9" y1="12" y2="12" key="1uyos4"></line></svg>
            Sair da conta
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
