<div class="flex h-screen w-screen">
  <!-- Seção do Formulário -->
  <div class="w-full md:w-1/2 flex justify-center items-center">
    <main class="w-full max-w-[32rem] mx-auto p-6">
      <div class="mt-7 bg-white">
        <div class="p-4 sm:p-7">
          <!-- Cabeçalho -->
          <div class="text-center flex flex-col items-center">
            <img src="assets/col.png" alt="Logo" height="28" width="24" loading="lazy" fetchpriority="auto">
            <h1 class="block mt-1 text-[20px] font-semibold text-gray-800">
              Entre na sua conta BlueBossa
            </h1>
            <p class="mt-1 text-[14px] font-normal text-gray-500">
              Acesse já e veja as novas menções.
            </p>
          </div>

          <!-- Formulário -->
          <div class="mt-10">
            <form (ngSubmit)="onLogin()">
              <div class="flex flex-col">
            <!-- Input de Email -->
<div class="relative w-full">
  <input 
    type="email" 
    id="email" 
    [(ngModel)]="email" 
    name="email" 
    placeholder="Email" 
    class="py-3 px-4 pe-11 block w-full border border-gray-200
           border-b-transparent
           shadow-sm tracking-wide -mt-px -ms-px
           first:rounded-t-lg sm:mt-0 sm:first:ms-0 text-sm font-normal
           text-black relative
           focus:outline-none focus:border-black focus:ring-black focus:border-b focus:mb-0
           disabled:opacity-50 disabled:pointer-events-none"
    [ngClass]="{
      'border-2 border-red-500 focus:ring-red-500': passwordError || dadosVaziosError || credentialsError
    }"
    (blur)="validateEmail()" 
    required
  />
</div>

<!-- Input de Senha -->
<div class="relative w-full">
  <input 
    id="password" 
    type="password" 
    [(ngModel)]="password" 
    name="password" 
    placeholder="Senha" 
    class="py-3 px-4 pe-11 block w-full border border-gray-200 shadow-sm -mt-1px tracking-wide
           first:rounded-b-lg sm:mt-0 text-sm relative font-normal text-black
           focus:outline-none focus:border-black focus:ring-black focus:border-t focus:mt-0
           disabled:opacity-50 disabled:pointer-events-none"
    [ngClass]="{
      'border-2 border-red-500 focus:ring-red-500': passwordError || dadosVaziosError || credentialsError
    }"
    (blur)="validatePassword()" 
    required
  />
  
  <!-- Botão de Ver Senha -->
  <button 
    type="button" 
    (click)="togglePassword()" 
    class="absolute top-0 right-0 w-12 h-12 flex items-center justify-center
           bg-transparent hover:bg-transparent focus:bg-transparent 
           p-0 rounded-md focus:outline-none"
  >
    <svg 
      *ngIf="!showPassword" 
      width="16" height="16" 
      viewBox="0 0 24 24" fill="none" stroke="currentColor" 
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    >
      <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8S1 12 1 12z" />
      <circle cx="12" cy="12" r="3" />
    </svg>
    <svg 
    *ngIf="showPassword" 
    width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_1351_1802)">
      <path d="M6.58669 6.58643C6.39019 6.76952 6.23259 6.99033 6.12327 7.23566C6.01396 7.48099 5.95518 7.74582 5.95045 8.01437C5.94571 8.28291 5.99511 8.54965 6.0957 8.79869C6.19629 9.04772 6.346 9.27394 6.53592 9.46386C6.72584 9.65378 6.95206 9.8035 7.2011 9.90409C7.45013 10.0047 7.71688 10.0541 7.98542 10.0493C8.25396 10.0446 8.51879 9.98582 8.76412 9.87651C9.00946 9.7672 9.23026 9.60959 9.41336 9.41309" stroke="#6B7280" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M7.15332 3.38683C7.43419 3.35184 7.71694 3.33402 7.99999 3.3335C12.6667 3.3335 14.6667 8.00016 14.6667 8.00016C14.3686 8.63825 13.9948 9.23812 13.5533 9.78683" stroke="#6B7280" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M4.40665 4.40674C3.08081 5.30982 2.01989 6.55024 1.33331 8.00007C1.33331 8.00007 3.33331 12.6667 7.99998 12.6667C9.27725 12.6702 10.5272 12.2968 11.5933 11.5934" stroke="#6B7280" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M1.33331 1.3335L14.6666 14.6668" stroke="#6B7280" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      <defs>
      <clipPath id="clip0_1351_1802">
      <rect width="16" height="16" fill="white"/>
      </clipPath>
      </defs>
      </svg>
      
  </button>
</div>


                <!-- Mensagens de Erro -->
                <p class="text-red-500 text-[14px] mt-1" *ngIf="dadosVaziosError">
                  {{ dadosVaziosError }}
                </p>
                <div *ngIf="!dadosVaziosError" class="text-red-500 text-[14px] mt-1 inline-flex space-x-2">
                  <p *ngIf="emailError">{{ emailError }}</p>
                  <p *ngIf="passwordError">{{ passwordError }}</p>
                  <p *ngIf="credentialsError">{{ credentialsError }}</p>
                </div>

                <!-- Link "Esqueceu sua senha?" -->
                <div class="w-full sm:w-[400px] text-left mt-2">
                  <a routerLink="/esqueceu" class="font-medium text-[14px] text-gray-800 hover:text-gray-500">
                    Esqueceu sua senha?
                  </a>
                </div>

                <!-- Botão de Entrar -->
                <button 
                  type="submit" 
                  class="mt-4 w-full sm:w-[400px] py-3 px-4 text-sm font-medium rounded-lg bg-black text-white hover:bg-[#FAFF00] hover:text-black transition-all"
                >
                  Entrar
                </button>

                <!-- Link "Crie agora" -->
                <div class="text-center mt-4">
                  <p class="text-[14px] text-gray-500">
                    Não tem uma conta? 
                    <a routerLink="/criar" class="text-blue-600 hover:text-blue-800 font-medium">Crie agora</a>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>

  <!-- Imagem ao Lado (Visível apenas no Desktop) -->
<div class="hidden md:block md:w-1/2 h-full border-l-[4px] border-[#FAFF00]">
  <img 
    src="assets/foto2.jpg" 
    alt="Imagem ao lado" 
    class="w-full h-full object-cover"
  >
</div>

  <!-- Alerta de Erro -->
  <div 
    *ngIf="showError"
    class="fixed top-5 right-5 flex items-center w-[324px] h-[52px] p-4 text-sm text-red-800 bg-red-100 border border-red-400 rounded-[12px] shadow"
    role="alert"
  >
    <span>Ocorreu algum erro, tente novamente.</span>
    <button 
      type="button"
      class="ml-auto -mx-1.5 -my-1.5 bg-red-100 text-red-800 rounded-lg p-1.5 inline-flex items-center justify-center h-8 w-8 hover:bg-red-200"
      (click)="showError = false"
    >
      <span class="sr-only">Fechar</span>
      <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
        <path 
          fill-rule="evenodd"
          d="M10 8.586L15.293 3.293a1 1 0 10-1.414-1.414L10 7.172 5.707 2.879A1 1 0 104.293 4.293L8.586 8.586 3.293 13.293a1 1 0 101.414 1.414L10 9.828l4.293 4.293a1 1 0 001.414-1.414L11.414 8.586z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </div>
</div>