<div class="flex h-screen w-screen">
  <!-- Seção do Formulário -->
  <div class="w-full md:w-1/2 flex justify-center items-center">
    <main class="w-full max-w-[32rem] mx-auto p-6">
      <div class="mt-7 bg-white">
        <div class="p-4 sm:p-7">
          <!-- Cabeçalho -->
          <div class="text-center flex flex-col items-center">
            <img src="assets/col.png" alt="Logo" height="28" width="24" loading="lazy" fetchpriority="auto">
            <h1 class="block mt-1 text-[20px] font-semibold text-gray-800">
              Entre na sua conta BlueBossa
            </h1>
            <p class="mt-1 text-[14px] font-normal text-gray-500">
              Acesse já e veja as novas menções.
            </p>
          </div>

          <!-- Formulário -->
          <div class="mt-10">
            <form (ngSubmit)="onLogin()">
              <div class="flex flex-col">
                <!-- Input de Email -->
                <div class="relative w-full">
                  <input 
                  type="email" 
                  id="email" 
                  [(ngModel)]="email" 
                  name="email" 
                  placeholder="Email" 
                  class="py-3 px-4 pe-11 block w-full border border-gray-200
                         border-b-transparent
                         shadow-sm tracking-wide -mt-px -ms-px
                         first:rounded-t-lg sm:mt-0 sm:first:ms-0 text-sm font-medium
                         text-black relative
                         focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:border-b focus:mb-0
                         disabled:opacity-50 disabled:pointer-events-none"
                  [ngClass]="{
                    'border-2 border-red-500 focus:ring-red-500': passwordError || dadosVaziosError || credentialsError
                  }"
                  (blur)="validateEmail()" 
                  required
                />
                </div>


                <!-- Input de Senha -->
                <div class="relative w-full">
                  <input 
                    id="password" 
                    type="password" 
                    [(ngModel)]="password" 
                    name="password" 
                    placeholder="Senha" 
                    class="py-3 px-4 pe-11 block w-full border border-gray-200 shadow-sm -mt-1px tracking-wide
                           first:rounded-b-lg sm:mt-0 text-sm relative font-medium text-black
                           focus:outline-none focus:border-blue-600 focus:ring-blue-600 focus:border-t focus:mt-0
                           disabled:opacity-50 disabled:pointer-events-none"
                    [ngClass]="{
                      'border-2 border-red-500 focus:ring-red-500': passwordError || dadosVaziosError || credentialsError
                    }"
                    (blur)="validatePassword()" 
                    required
                  />
                  <button 
                    type="button" 
                    (click)="togglePassword()" 
                    class="absolute top-1/2 right-4 transform -translate-y-1/2 
                           bg-transparent hover:bg-transparent focus:bg-transparent 
                           p-1 rounded-md focus:outline-none"
                  >
                    <svg width="30" height="30" viewBox="0 0 48 44" fill="none" 
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" 
                         stroke-linejoin="round" class="">
                      <path *ngIf="!showPassword" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
                      <circle *ngIf="!showPassword" cx="12" cy="12" r="3"></circle>
                      <path *ngIf="showPassword" d="M9.88 9.88a3 3 0 1 0 4.24 4.24"></path>
                      <path *ngIf="showPassword" d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"></path>
                    </svg>
                  </button>
                </div>

                <!-- Mensagens de Erro -->
                <p class="text-red-500 text-[14px] mt-1" *ngIf="dadosVaziosError">
                  {{ dadosVaziosError }}
                </p>
                <div *ngIf="!dadosVaziosError" class="text-red-500 text-[14px] mt-1 inline-flex space-x-2">
                  <p *ngIf="emailError">{{ emailError }}</p>
                  <p *ngIf="passwordError">{{ passwordError }}</p>
                  <p *ngIf="credentialsError">{{ credentialsError }}</p>
                </div>

                <!-- Link "Esqueceu sua senha?" -->
                <div class="w-full sm:w-[400px] text-left mt-2">
                  <a routerLink="/esqueceu" class="font-medium text-[14px] text-gray-800 hover:text-gray-500">
                    Esqueceu sua senha?
                  </a>
                </div>

                <!-- Botão de Entrar -->
                <button 
                  type="submit" 
                  class="mt-4 w-full sm:w-[400px] py-3 px-4 text-sm font-medium rounded-lg bg-gray-800 text-white hover:bg-gray-600 transition-all"
                >
                  Entrar
                </button>

                <!-- Link "Crie agora" -->
                <div class="text-center mt-4">
                  <p class="text-[14px] text-gray-500">
                    Não tem uma conta? 
                    <a routerLink="/criar" class="text-blue-600 hover:text-blue-800 font-medium">Crie agora</a>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>

  <!-- Imagem ao Lado (Visível apenas no Desktop) -->
  <div class="hidden md:flex md:w-[57%] h-screen p-4">
    <img 
      src="assets/foto.png" 
      alt="Imagem ao lado" 
      class="w-full h-full object-cover rounded-xl"
    >
  </div>

  <!-- Alerta de Erro -->
  <div 
    *ngIf="showError"
    class="fixed top-5 right-5 flex items-center w-[324px] h-[52px] p-4 text-sm text-red-800 bg-red-100 border border-red-400 rounded-[12px] shadow"
    role="alert"
  >
    <span>Ocorreu algum erro, tente novamente.</span>
    <button 
      type="button"
      class="ml-auto -mx-1.5 -my-1.5 bg-red-100 text-red-800 rounded-lg p-1.5 inline-flex items-center justify-center h-8 w-8 hover:bg-red-200"
      (click)="showError = false"
    >
      <span class="sr-only">Fechar</span>
      <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
        <path 
          fill-rule="evenodd"
          d="M10 8.586L15.293 3.293a1 1 0 10-1.414-1.414L10 7.172 5.707 2.879A1 1 0 104.293 4.293L8.586 8.586 3.293 13.293a1 1 0 101.414 1.414L10 9.828l4.293 4.293a1 1 0 001.414-1.414L11.414 8.586z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </div>
</div>