<div class="main-container">
  <div class="login-form">
    <div class="login-container">
      <img src="assets/col.png" alt="Logo" class="logo">
      <h1>Entre na sua conta BlueBossa<br><p>Acesse já e veja as novas inovações.</p></h1>
      
      
      <form (ngSubmit)="onLogin()">
        <!-- Campo de Email -->
        <div class="input-container" [ngClass]="{ 'error': emailError }">
          <label for="email" class="sr-only">Email</label>
          <input
            type="email"
            id="email"
            [(ngModel)]="email"
            name="email"
            placeholder="Email"
            (blur)="validateEmail()"
            required
          />
        </div>

        <!-- Campo de Senha -->
        <div class="input-container" [ngClass]="{ 'error': passwordError }">
          <label for="password" class="sr-only">Senha</label>
          <input
            type="password"
            id="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Senha"
            (blur)="validatePassword()"
            required
          />
          <p class="error-message" *ngIf="passwordError">{{ passwordError }}</p>    
                <p class="error-message" *ngIf="emailError">{{ emailError }}</p>

        </div>

        <a [routerLink]="'/esqueceu'" class="forgot-password">Esqueceu sua senha?</a>

        <button type="submit" class="button">Entrar</button>

        <p class="register-link">
          Não tem uma conta? <a [routerLink]="'/criar'">Crie agora</a>
        </p>
      </form>
    </div>
  </div>
  
  <div class="img">
    <div class="image-section"></div>
  </div>
</div>
