/* Container da busca */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px; /* Espaçamento entre a barra de busca e o botão "Busca avançada" */
  padding: 10px;
  width: 100%;
}

/* Caixa de busca */
.search-box {
  display: flex;
  align-items: center;
  width: 400px;
  height: 46px;
  max-width: 600px;
  background: #f3f4f6;
  border-bottom: 1px solid #E5E7EB;
  padding: 10px 12px;
  position: relative;
  margin-left: -130px;
}

/* Ícone da lupa antes do campo de entrada */
.search-icon {
  color: #9ca3af;
}

/* Campo de entrada */
.search-input {
  flex: 1;
  background: transparent;
  border: none;
  font-size: 14px;
  color: #111827;
  padding: 6px;
  outline: none;
}

/* Placeholder no campo de entrada */
.search-input::placeholder {
  color: #9ca3af;
}

/* Botão de busca */
.search-button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 100%;
  position: absolute;
  margin-left: 30px;
}

.search-button:hover {
  background: #E5E7EB;
}

/* Botão "Busca avançada" */
.advanced-search-btn {
  background: none;
  border: none;
  color: #2563eb;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: none;
  margin-left: 30px;

}

.advanced-search-btn:hover {
  color: #1e40af;
  text-decoration: underline;
}
