<div *ngIf="!isMobile" class="advanced-search-container">
  <h2 class="title">Busca Avançada <br> <p class="subtitle">Selecione o tipo de busca e insira os parâmetros desejados</p></h2>
  

  <!-- Palavras-chave -->
  <div class="accordion-section">
    <div class="accordion-header" (click)="toggleSection('keywords')">
      Palavras-chave
      <svg [ngClass]="{ 'rotate': isSectionOpen.keywords }" class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m6 9 6 6 6-6"></path>
      </svg>
    </div>
    <div class="accordion-content" [ngClass]="{ 'show': isSectionOpen.keywords }">
      <div class="input-container">
        <input class="input-field" placeholder="Todas essas palavras" type="text" />
        <div class="tooltip-container">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M12 16v-4"></path>
            <path d="M12 8h.01"></path>
          </svg>
          <div class="tooltip">Digite as palavras que você deseja</div>
        </div>

        <input class="input-field" placeholder="Qualquer uma dessas palavras" type="text" />
        <div class="tooltip-container">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M12 16v-4"></path>
            <path d="M12 8h.01"></path>
          </svg>
          <div class="tooltip">Digite as palavras que podem aparecer</div>
        </div>    
        <input class="input-field" placeholder="Frase ou palavra exata" type="text" />
    <div class="tooltip-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="10"></circle>
        <path d="M12 16v-4"></path>
        <path d="M12 8h.01"></path>
      </svg>
      <div class="tooltip">Digite as palavras ou frase que devem aparecer</div>
    </div>
    <input class="input-field" placeholder="Nenhuma dessas palavras" type="text" />
    <div class="tooltip-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="10"></circle>
        <path d="M12 16v-4"></path>
        <path d="M12 8h.01"></path>
      </svg>
      <div class="tooltip">Digite as palavras que não devem aparecer</div>
    </div>
  </div>
    </div>
  </div>

  <!-- Data -->
  <div class="accordion-section">
    <div class="accordion-header" (click)="toggleSection('date')">
      Data
      <svg [ngClass]="{ 'rotate': isSectionOpen.date }" class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m6 9 6 6 6-6"></path>
      </svg>
    </div>
    <div class="accordion-content" [ngClass]="{ 'show': isSectionOpen.date }">
      <div class="date-container">
        <!-- Campo Data Início -->
        <div class="datepicker-container">
          <input
            class="date-field"
            type="text"
            placeholder="Data Início"
            (focus)="openCalendar('start')"
            [value]="selectedStartDate | date: 'dd/MM/yyyy'"
            readonly
          />
        </div>
    
        <!-- Campo Data Fim -->
        <div class="datepicker-container">
          <input
            class="date-field"
            type="text"
            placeholder="Data Fim"
            (focus)="openCalendar('end')"
            [value]="selectedEndDate | date: 'dd/MM/yyyy'"
            readonly
          />
        </div>
      </div>
    
      <!-- Calendário Reutilizável -->
      <div class="custom-calendar-panel" *ngIf="showCalendar">
        <app-calendar (dateSelected)="onDateSelected($event)"></app-calendar>
      </div>
    </div>
  </div>
   <!-- Tipo de midia -->
   <div class="accordion-section">
    <div class="accordion-header" (click)="toggleSection('media')">
      Tipo de mídia
      <svg [ngClass]="{ 'rotate': isSectionOpen.sentiment }" class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m6 9 6 6 6-6"></path>
      </svg>
    </div>

    <div class="accordion-content" [ngClass]="{ 'show': isSectionOpen.media }">
      <label class="custom-checkbox">
        <input type="checkbox" [(ngModel)]="sentiments.positive" />
        <span class="checkmark"></span>
        Áudio
      </label>

      <label class="custom-checkbox">
        <input type="checkbox" [(ngModel)]="sentiments.neutral" />
        <span class="checkmark"></span>
        Texto (Impressos e Web)
      </label>

      <label class="custom-checkbox">
        <input type="checkbox" [(ngModel)]="sentiments.negative" />
        <span class="checkmark"></span>
       Vídeo (Canais de televisão)
      </label>
    </div>
  </div>

  <!-- Tipos de Mídia -->
  <div class="accordion-section">
    <div class="accordion-header" (click)="toggleSection('vehicles')">
      Veículos
      <svg [ngClass]="{ 'rotate': isSectionOpen.vehicles }" class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m6 9 6 6 6-6"></path>
      </svg>
    </div>
    <div class="accordion-content" [ngClass]="{ 'show': isSectionOpen.vehicles }">
      <!-- Componente de veículos aparece diretamente -->
      <app-veiculos></app-veiculos>
    </div>
  
<!-- Fundo escuro -->
<div class="modal-overlay" *ngIf="isModalOpen" (click)="closeModal()"></div>

<!-- Modal centralizado -->
<div class="modal-container" *ngIf="isModalOpen">
  <app-veiculos></app-veiculos>
</div>
</div>

  <!-- Sentimento -->
  <div class="accordion-section">
    <div class="accordion-header" (click)="toggleSection('sentiment')">
      Sentimento
      <svg [ngClass]="{ 'rotate': isSectionOpen.sentiment }" class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m6 9 6 6 6-6"></path>
      </svg>
    </div>

    <div class="accordion-content" [ngClass]="{ 'show': isSectionOpen.sentiment }">
      <label class="custom-checkbox">
        <input type="checkbox" [(ngModel)]="sentiments.positive" />
        <span class="checkmark"></span>
        Positivo
      </label>

      <label class="custom-checkbox">
        <input type="checkbox" [(ngModel)]="sentiments.neutral" />
        <span class="checkmark"></span>
        Neutro
      </label>

      <label class="custom-checkbox">
        <input type="checkbox" [(ngModel)]="sentiments.negative" />
        <span class="checkmark"></span>
        Negativo
      </label>
    </div>
  </div>

  <!-- Localização -->
   <!-- Tipos de Mídia -->
  <div class="accordion-section">
    <div class="accordion-header" (click)="toggleSection('location')">
      Localização
      <svg [ngClass]="{ 'rotate': isSectionOpen.location }" class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m6 9 6 6 6-6"></path>
      </svg>
    </div>
    <div class="accordion-content" [ngClass]="{ 'show': isSectionOpen.location }">
      <!-- Componente de veículos aparece diretamente -->
<app-localizacao></app-localizacao>   
</div>
  
<!-- Fundo escuro -->
<div class="modal-overlay" *ngIf="isModalOpen" (click)="closeModal()"></div>

<!-- Modal centralizado -->
<div class="modal-container" *ngIf="isModalOpen">
  <app-veiculos></app-veiculos>
</div>
</div>
  

  <!-- Botões -->
   <div class="modal-footer">
    <button class="clear-button" (click)="closeModal()">Limpar busca</button>
    <button class="search-button" (click)="navigateToResults()">Fazer busca</button>
  </div>
</div>


<div *ngIf="isMobile" class="advanced-search-mobile">
  <div class="mobile-header">
    <h2 class="title">Busca Avançada</h2>
    <p class="subtitle">Insira os parâmetros desejados</p>
  </div>
  <div class="back-to-simple-search" >
    <span class="text">Voltar para busca simples</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="m9 18 6-6-6-6"></path>
    </svg>
  </div>
  
   

  <!-- Palavras-chave -->
  <div class="accordion-section">
    <div class="accordion-header" (click)="toggleSection('keywords')">
      Palavras-chave
      <svg [ngClass]="{ 'rotate': isSectionOpen.keywords }" class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="m6 9 6 6 6-6"></path>
      </svg>
    </div>
    <div class="accordion-content" [ngClass]="{ 'show': isSectionOpen.keywords }">
      <input class="input-field" placeholder="Todas essas palavras" type="text" />
      <input class="input-field" placeholder="Qualquer uma dessas palavras" type="text" />
      <input class="input-field" placeholder="Frase ou palavra exata" type="text" />
      <input class="input-field" placeholder="Nenhuma dessas palavras" type="text" />
    </div>
  </div>

  <!-- Data -->
  <div class="accordion-section">
    <div class="accordion-header" (click)="toggleSection('date')">
      Data
      <svg [ngClass]="{ 'rotate': isSectionOpen.date }" class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="m6 9 6 6 6-6"></path>
      </svg>
    </div>
    <div class="accordion-content" [ngClass]="{ 'show': isSectionOpen.date }">
      <div class="date-container">
        <input id="start-date" class="date-field" type="date" placeholder="Data Início"[(ngModel)]="startDate"/>
        <input id="end-date" class="date-field" type="date" placeholder="Data Final" [(ngModel)]="endDate"/>
      </div>
    </div>
  </div>

  <!-- Tipos de Mídia -->
  <div class="accordion-section">
    <div class="accordion-header" (click)="toggleSection('media')">
      Tipos de Mídia
      <svg [ngClass]="{ 'rotate': isSectionOpen.media }" class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="m6 9 6 6 6-6"></path>
      </svg>
    </div>
    <div class="accordion-content" [ngClass]="{ 'show': isSectionOpen.media }">
      <label class="custom-checkbox">
        <input type="checkbox" [(ngModel)]="mediaTypes.audio" />
        <span class="checkmark"></span>
        Áudio (Rádio)
      </label>
      <label class="custom-checkbox">
        <input type="checkbox" [(ngModel)]="mediaTypes.text" />
        <span class="checkmark"></span>
        Texto (Impressos e Web)
      </label>
      <label class="custom-checkbox">
        <input type="checkbox" [(ngModel)]="mediaTypes.video" />
        <span class="checkmark"></span>
        Vídeo (Canais de televisão)
      </label>
    </div>
  </div>

  <!-- Veículos -->
  <div class="accordion-section">
    <div class="accordion-header" (click)="openModal()">
      Veículos
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="m6 9 6 6 6-6"></path>
      </svg>
    </div>
  </div>

  <!-- Modal de Veículos -->
  <div class="modal-overlay" *ngIf="isModalOpen" (click)="closeModal()"></div>
  <div class="modal-container" *ngIf="isModalOpen">
    <app-veiculos></app-veiculos>
  </div>

  <!-- Sentimento -->
  <div class="accordion-section">
    <div class="accordion-header" (click)="toggleSection('sentiment')">
      Sentimento
      <svg [ngClass]="{ 'rotate': isSectionOpen.sentiment }" class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="m6 9 6 6 6-6"></path>
      </svg>
    </div>
    <div class="accordion-content" [ngClass]="{ 'show': isSectionOpen.sentiment }">
      <label class="custom-checkbox">
        <input type="checkbox" [(ngModel)]="sentiments.positive" />
        <span class="checkmark"></span>
        Positivo
      </label>
      <label class="custom-checkbox">
        <input type="checkbox" [(ngModel)]="sentiments.neutral" />
        <span class="checkmark"></span>
        Neutro
      </label>
      <label class="custom-checkbox">
        <input type="checkbox" [(ngModel)]="sentiments.negative" />
        <span class="checkmark"></span>
        Negativo
      </label>
    </div>
  </div>

  <!-- Localização -->
  <div class="accordion-section">
    <div class="accordion-header" (click)="toggleSection('location')">
      Localização
      <svg [ngClass]="{ 'rotate': isSectionOpen.location }" class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="m6 9 6 6 6-6"></path>
      </svg>
    </div>
    
    <div class="accordion-content" [ngClass]="{ 'show': isSectionOpen.location }">
      <!-- Quando 'location' estiver aberto, exibe o componente -->
      <app-localizacao *ngIf="isSectionOpen.location"></app-localizacao>
    </div>
  </div>
  

  <!-- Botões de ação -->
  <div class="action-buttons">
    <button class="search-button" (click)="performSearch()">Fazer Busca</button>
  </div>
</div>