.mensoes-container {
    position: fixed;
    bottom: 8px;
    right: 8px;
    margin-right:8px ;
margin-left: 16px ;
margin-top: 8px;
margin-bottom: 8px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    width: 300px;
    height: 62px;
    justify-content: space-between;
}

.mention-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.mensoes-text {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.mensoes-menu {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.mensoes-menu svg {
    width: 16px;
    height: 16px;
    stroke: #6b7280;
}

.mensoes-menu:hover svg {
    stroke: #374151;
}

.mention-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
}

.mention-item:hover {
    background-color: #f3f4f6;
    border-radius: 6px;
}

.kbd {
    background-color: #e5e7eb;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: bold;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    width: 281px;
    bottom: 80px; /* Move o dropdown para cima */
    background: white;
    border-radius: 6px;
    border: 1px black;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform: translateY(10px); /* Efeito suave de subida */
}

.dropdown-menu.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .close-button {
    background: #e53e3e;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background: #c53030;
  }
  