

/* back-button.component.css */

.back-button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -1%;
    text-align: center;
  }
  
  /* Ajuste para o span dentro do botão */
  .back-button span {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -1%;
  }